:root {
    --lime: hsl(61, 70%, 52%);
    --red: hsl(4, 69%, 50%);
    --white: hsl(0, 0%, 100%);

    --bg-lime: #fafae0;
    --bg-blue: #0e2431;

    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%);
    --slate-500: hsl(200, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
}
header {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

hr {
   border-color: var(--slate-700);
   max-width: 100%;
}

header small {
    color: var(--slate-700);
    text-decoration: underline;
    cursor: pointer;
}

input[type="number"] {
    padding: .8em;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
}

input:focus, input:active {
    border: none;
    outline: none;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

div.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.s1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

fieldset.input-box {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.input-brd {
    display: flex;
    align-items: center;
    border: 1px solid var(--slate-900);
    border-radius: 3px;
}

.input-brd.l-valid {
    border-color: var(--lime);
}

.input-brd.l-invalid {
    border-color: var(--red);
}

fieldset {
    border: none;
}

.sym {
    padding: .8em 1em;
    background-color: var(--slate-100);
    font-weight: 500;
}

.sym.s-valid {
    background-color: var(--lime);
}

.sym.s-invalid {
    background-color: var(--red);
}

.req {
    color: var(--red);
    display: none;
}

.req.show {
    display: flex;
}

label {
    color: var(--slate-700);
    font-weight: 700;
}

div.mtg-type {
    padding: .8rem;
    gap: .8rem;
    font-weight: 700;
    color: var(--slate-900);
    display: flex;
    align-items: center;
    gap: .5rem;
    border: 1px solid var(--slate-700);
}

div.term-rate {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mtg-type.checked {
    background-color: var(--bg-lime);
    border: 2px solid var(--lime);
}


input[type='radio'] {
    appearance: none;
    width: 15px; height: 15px;
    border: 1px solid var(--slate-900);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    background-color: var(--white);
}

input[type='radio']::before {
    content: '';
    width: 9px; height: 9px;
    border-radius: 50%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}


input[type='radio']:checked {
    border: 2px solid var(--lime);
}

input[type='radio']:checked::before {
    background-color: var(--lime);
}

button.btn {
    display: flex;
    padding: .8em 1.5em;
    border-radius: 50px;
    border: none;
    background-color: var(--lime);
    align-items: center;
    justify-content: center;
    font-weight: 900;
    gap: .5rem;
    cursor: pointer;
    color: var(--slate-900);
}


section.s2 {
    background-color: var(--slate-900);
    color: var(--slate-300);
    padding: 1.5rem 1rem;
    display: flex;
}

div.empty, div.filled {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
}


div.empty img {
    max-width: 12rem;
}

.empty div {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.s2 h3 {
    color: var(--white);
}

div.empty {
        /* display: none; */
        margin: auto 0;
}

.d-none {
    display: none;
}
    
div.filled {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: none;
}

div.info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


div.results {
    background-color: var(--bg-blue);
    padding: 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px 5px 0 0;
    border-top: 3px solid var(--lime);

}

.results div {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

span.month {
    color: var(--lime);
    font-size: 2rem;
    font-weight: 600;
}

span.total {
    color: var(--white);
    font-weight: 600;
    font-size: 1.2rem;
}

div.d1, div.d2 {
    padding: .5rem 0;
}

@media (min-width: 900px) {
    body {
        background-color: var(--slate-100);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem;
    }
    div.container {
        flex-direction: row;
        width: 999px;
        background-color: var(--white);
        margin: auto;
        border-radius: 20px;
        gap: .2rem
    }

    section.s1, section.s2 {
        flex: 1;
        padding: 2rem;
    }

    section.s2 {
        border-radius: 0 20px 20px 80px;
    }

    form {
        margin-top: 1.5rem;
    }

    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    div.term-rate {
        flex-direction: row;
    }

    div.info {
        gap: 2rem;
    }

}